h1, h3 {
  color: whitesmoke;
  font-family: 'Meera Inimai', sans-serif;
}

h2, h4, h5 {
  color: #6918b4;
  justify-content: center;
  text-align: center;
  font-family: 'Meera Inimai', sans-serif;
}

footer {
  position: fixed;
}

p {
  font-size: large;
  font-family: 'Meera Inimai', sans-serif;
}

body {
  background-image: url("./images/Screen\ Shot\ 2021-06-26\ at\ 3.12.26\ PM.png");
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* .landing-div {
  background-image: url("https://wallpapercave.com/wp/QFVGxmn.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.comp-content {
  margin-top: 25px;
}

p, .req-card {
  text-align: center;
}

.nav {
  padding: 20px;
}

.request, #submit, h2, h1, h3, .refresh, .requests {
  text-align: center;
}

.margin{
  margin-left: 5px;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#check {
  align-items: center;
  margin-left: 40%;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  }