h1, h3 {
  color: whitesmoke;
}

h2, h5 {
  color: #6918b4;
  justify-content: center;
}

body {
  background-image: url("./components/images/Screen\ Shot\ 2021-06-26\ at\ 3.12.26\ PM.png");
  height: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comp-content {
  margin-top: 25px;
}

p, .req-card {
  text-align: center;
}

.nav {
  padding: 10px;
}

.landing-bg {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/364/836/964/car-ford-mustang-the-grand-tour-gt350r-wallpaper-preview.jpg");
  height: 700px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: black;
  border-style: groove;
}

.request, #submit, h2, h1, h3, .refresh, .requests {
  text-align: center;
}

.margin{
  margin-left: 5px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#check {
  align-items: center;
  margin-left: 40%;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  }